# Exercise 11-1: Create a multiple regression

## Import the data

In [16]:
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [17]:
fish = pd.read_csv('Fish.csv')

In [18]:
fish.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

## Clean the data

In [19]:
# read the info.txt file and rename the Length columns so they're more descriptive
columns_to_rename = {
    "Length1":"VerticalLength",
    "Length2":"DiagonalLength",
    "Length3":"CrossLength"
}

fish = fish.rename(columns=columns_to_rename)
fish.head()

,Species,Weight,VerticalLength,DiagonalLength,CrossLength,Height,Width
0,Bream,242.0,23.2,25.4,30.0,11.5200,4.0200
1,Bream,290.0,24.0,26.3,31.2,12.4800,4.3056
2,Bream,340.0,23.9,26.5,31.1,12.3778,4.6961
3,Bream,363.0,26.3,29.0,33.5,12.7300,4.4555
4,Bream,430.0,26.5,29.0,34.0,12.4440,5.1340

## Identify a correlation

In [20]:
# get the correlation data for the Weight column

In [21]:
# create a heatmap for the correlation data

## Create a multiple regression model

In [22]:
# filter the data so it only contains the values for the Bream species 
# and assign the resulting DataFrame to a variable named bream

In [23]:
# split the training and test data

In [24]:
# create the model and fit the training data

In [25]:
# score the testing data

In [26]:
# make the predictions

In [27]:
# join the predicted data with the original data

## Plot the residuals

In [28]:
# calculate the residuals and store them in a column

In [29]:
# create a KDE plot for the residuals