# Exercise 2-2: Write your own code for the Mortality Notebook

In [2]:
import pandas as pd

## Get the long and wide DataFrames

In [10]:
mortality_data = pd.read_pickle('mortality_data.pkl')
mortality_data.head()

   Year  Age Group  Death Rate
0  1900  1-4 Years      1983.8
1  1901  1-4 Years      1695.0
2  1902  1-4 Years      1655.7
3  1903  1-4 Years      1542.1
4  1904  1-4 Years      1591.5

In [4]:
mortality_wide = pd.read_pickle('mortality_wide.pkl')
mortality_wide.head()

   Year  01-04 Years  05-09 Years  10-14 Years  15-19 Years
0  1900     0.019838     0.004661     0.002983     0.004848
1  1901     0.016950     0.004276     0.002736     0.004544
2  1902     0.016557     0.004033     0.002525     0.004215
3  1903     0.015421     0.004147     0.002682     0.004341
4  1904     0.015915     0.004250     0.003052     0.004714

## Work With the long DataFrame

In [11]:
mortality_data.head(5)

   Year  Age Group  Death Rate
0  1900  1-4 Years      1983.8
1  1901  1-4 Years      1695.0
2  1902  1-4 Years      1655.7
3  1903  1-4 Years      1542.1
4  1904  1-4 Years      1591.5

In [16]:
mortality_data.columns = mortality_data.columns.str.replace(' ','')

mortality_data = mortality_data.rename(columns = {'DeathRate':'Deaths/100K'})
mortality_data

     Year     AgeGroup  Deaths/100K
0    1900    1-4 Years       1983.8
1    1901    1-4 Years       1695.0
2    1902    1-4 Years       1655.7
3    1903    1-4 Years       1542.1
4    1904    1-4 Years       1591.5
..    ...          ...          ...
471  2014  15-19 Years         45.5
472  2015  15-19 Years         48.3
473  2016  15-19 Years         51.2
474  2017  15-19 Years         51.5
475  2018  15-19 Years         49.2

[476 rows x 3 columns]

In [18]:
mortality_data['MeanCentered'] = mortality_data['Deaths/100K'] - mortality_data['Deaths/100K'].mean()
mortality_data.head()

   Year   AgeGroup  Deaths/100K  MeanCentered
0  1900  1-4 Years       1983.8    1790.87584
1  1901  1-4 Years       1695.0    1502.07584
2  1902  1-4 Years       1655.7    1462.77584
3  1903  1-4 Years       1542.1    1349.17584
4  1904  1-4 Years       1591.5    1398.57584

In [19]:
mortality_data.query('Year > 1915 and Year <= 1920').tail(6)

     Year     AgeGroup  Deaths/100K  MeanCentered
258  1920  10-14 Years        229.9      36.97584
373  1916  15-19 Years        355.8     162.87584
374  1917  15-19 Years        380.3     187.37584
375  1918  15-19 Years        777.4     584.47584
376  1919  15-19 Years        438.5     245.57584
377  1920  15-19 Years        402.9     209.97584

## Work with the wide DataFrame

In [25]:
mortality_data.query('AgeGroup == "1-4 Years"')['Year', 'Deaths/100K']

KeyError: ('Year', 'Deaths/100K')