# Exercise 2-2: Write your own code for the Mortality Notebook

In [1]:
import pandas as pd

## Get the long and wide DataFrames

In [2]:
mortality_data = pd.read_pickle('mortality_data.pkl')
mortality_data.head()

   Year  Age Group  Death Rate
0  1900  1-4 Years      1983.8
1  1901  1-4 Years      1695.0
2  1902  1-4 Years      1655.7
3  1903  1-4 Years      1542.1
4  1904  1-4 Years      1591.5

In [3]:
mortality_wide = pd.read_pickle('mortality_wide.pkl')
mortality_wide.head()

   Year  01-04 Years  05-09 Years  10-14 Years  15-19 Years
0  1900     0.019838     0.004661     0.002983     0.004848
1  1901     0.016950     0.004276     0.002736     0.004544
2  1902     0.016557     0.004033     0.002525     0.004215
3  1903     0.015421     0.004147     0.002682     0.004341
4  1904     0.015915     0.004250     0.003052     0.004714

## Work With the long DataFrame

## Work with the wide DataFrame